version: 2
workflows:
  version: 2
  nightly:
    triggers:
    - schedule:
        cron: "0 0 7 1/1 *"
        filters:
          branches:
            only:
            - master
    jobs:
    - build

jobs:
  build:
    working_directory: ~/circleci-kloudformation-generator
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
      - run: ./gradlew clean build -DBUILD_NUM=$CIRCLE_BUILD_NUM
      - run: ./gradlew bintrayUpload -DBUILD_NUM=$CIRCLE_BUILD_NUM -DBINTRAY_KEY=$BINTRAY_KEY
      - store_artifacts:
          path: build/libs
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}